body{
    padding:0;
    margin: 0;
    position: relative;
    z-index: 1;
}

#home::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 0;
}

.hero-curve {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 950px;
    overflow: hidden;
    z-index: 3;
}

.hero-curve svg {
    width: 100%;
    height: 100%;
    display: block;
}



html{
    scroll-behavior: smooth;
}

.navbar {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    right: 0;
}

.nav-links{
    margin-left: auto;
    margin-right: 20px;;
}

h1{
    z-index: 10;
}

p {
    z-index: 10;
}

section {
   width: 100vw;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0;
    padding: 0;
    display: flex;

}
#home{
    background: url(../Images/backtest.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

#services{
    height: 100vh;
}

#home h1{
    font-size: 50px;
    margin: 0;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card button{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.contact-form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: auto;
    position: relative;
}

.Our-Team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 130px;
    right: 20px;
    width: 650px;
    height: 100px;
    z-index: 10;
  
}

.team-member h1{
    font-size: 20px;
    margin: 0;
    color: black;
}

.team-member img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff; /* white border for clean overlap */
    object-fit: cover;
    margin-left: -12px;
}

.team-member img:first-child{
    margin-left: 0;
}

.team-member-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.team-member-info p{
    font-size: 16px;
    color: black;
    margin: 0;
}

.team-member-info h2{
    font-size: 20px;
    margin: 0;
    color: black;
}

.learn-more-button{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 20px;
    
}

.learn-more-button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}