body{
    background: url(../Images/backtest.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:0;
    margin: 0;
    position: relative;
}

body::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: -1;
    pointer-events: none;
}

html{
    scroll-behavior: smooth;
}

.navbar {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    right: 0;
}

.nav-links{
    margin-left: auto;
    margin-right: 20px;;
}

section {
   width: 100vw;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0;
    padding: 0;
    display: flex;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

#services{
    height: 100vh;
}

#home h1{
    font-size: 50px;
    margin: 0;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.contact-form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: auto;
    position: relative;
}